@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lineseed";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  /* @apply font-malang; */
  /* @apply font-dongle; */
  /* @apply font-noto-sans; */
  @apply font-lineseed;
}
